<div class="card">
    <div class="card-header">
      <strong>Product</strong> Detail
    </div>
    <div class="card-body">

        <table border="1" width="100%">
          <tr>
            <td width="20%" >&nbsp;&nbsp;Product Name: </td>
            <td width="60%" >&nbsp;&nbsp;{{productDetail.result.productName}}</td>
          </tr>
          <tr>
              <td>&nbsp;&nbsp;Product Image: </td>
              <td>&nbsp;&nbsp;<br /><img class="img-pointer"  *ngIf="productDetail.result.productImage ? true:false" width="130px" height="90px" src="{{ site_url +'/product/thumb/'+ productDetail.result.productImage}}"/><br />&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Product Description: </td>
                <td>&nbsp;&nbsp;{{productDetail.result.description}}</td>
            </tr> 
            <tr>
                <td>&nbsp;&nbsp;Shipping Required</td>
                <td>&nbsp;&nbsp;{{productDetail.result.shippingRequired == 1 ? 'Yes' : 'No'}}</td>
            </tr>            
            <tr>
                <td>&nbsp;&nbsp;Peer Points Required </td>
                <td>&nbsp;&nbsp;{{productDetail.result.peerPointsRequired == 1 ? 'Yes' : 'No'}}</td>
            </tr>            
           
            <tr>
                <td>&nbsp;&nbsp;Inventory</td>
                <td>&nbsp;&nbsp;{{productDetail.result.inventory}}</td>
            </tr>

        </table>      
        <br />
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button type="button" routerLink="/redemption_request/summary" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Back</button>
    </div>
  </div>