<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
          <div class="card card-header">
            <form novalidate [formGroup]="redemption" (ngSubmit)="searchedData(redemption)">                
              <input size="42px" type="text" id="nf-searchKey" formControlName="searchKey" maxlength="60" placeholder="Search by product name..">
              &nbsp;&nbsp;                
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Search</button>      
            </form> 
      </div>
    </div>
  </div>    
</div>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Redemption Request Summary 
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th width="20%"><a href="javascript:void(0)" (click)="sortByFields('productName',sortDirection)">Product Name</a></th>
                  <th width="10%"><a href="javascript:void(0)" (click)="sortByFields('createdDt',sortDirection)">Date & Time</a></th>
                  <th width="15%"><a href="javascript:void(0)" (click)="sortByFields('description',sortDirection)">Username</a></th>
                  <th width="15%"><a href="javascript:void(0)" (click)="sortByFields('shippingRequired',sortDirection)">Product/Reward Detail</a></th>
                  <th width="15%"><a href="javascript:void(0)" (click)="sortByFields('peerPointsRequired',sortDirection)">Peer Points Redeemed</a></th>                  
                  <th width="20%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let redeemed of redemptionSummary.result; let i=index" id="delete_{{redeemed._id}}">
                  <td>{{redeemed.productId[0].productName}}</td> 
                  <td>{{redeemed.createdDt |date:'MMM d, y, h:mm:ss a'}}</td>                 
                  <td><a href="javascript::void(0)" routerLink="/redemption_request/userdetail/{{redeemed.userId[0]._id}}" title="View">{{redeemed.userId[0].username}}</a></td>
                  <td><a href="javascript::void(0)" routerLink="/redemption_request/productdetail/{{redeemed.productId[0]._id}}" title="View">Detail</a></td>
                  <td>{{redeemed.peerPointsRedeemed == 1 ? 'Yes' : 'No'}}</td>                 
                  <td>  
                    <a  *ngIf="redeemed.status<=0" (click)="changeStatus(redeemed._id)" >Mark As Complete</a>&nbsp;                 
                    {{redeemed.status == 1 ? 'Completed' : ''}}
                  </td>
                </tr>
                <tr *ngIf="redemptionSummary.result?.length <= 0">
                  <td colspan="6" align="center">There is no record exist.</td>
                </tr>
              </tbody>
            </table>
            <div class="card-body">
              <div class="row">
                  <input type="hidden" id="hidden_sort_field" [(ngModel)]="SortField">
                  <input type="hidden" id="hidden_sort_direction" [(ngModel)]="SortFieldDir">
                <div class="col-xs-12 col-12 d-sm-down-none" *ngIf="redemptionSummary.result?.length > 0  && totalItems>perPage">
                  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!--/.row-->
  </div>
  