<div class="card">
    <div class="card-header">
      <strong></strong> Change Password
    </div>
    <form novalidate [formGroup]="changePassword" (ngSubmit)="update(changePassword)">
    <div class="card-body">
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="password" maxlength="20" id="nf-password" name="password" class="form-control" formControlName="password" placeholder="New Password" autocomplete="email">
            <span class="invalid-feedback" *ngIf="changePassword.get('password').invalid">
                <span *ngIf="changePassword.get('password').hasError('required')">New Password is required</span>
            </span>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="password" maxlength="20" id="nf-confirmPassword" name="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" autocomplete="confirmPassword">
            <span class="invalid-feedback" *ngIf="changePassword.get('confirmPassword').invalid">
            <span *ngIf="changePassword.get('confirmPassword').hasError('required')">Confirm Password is required</span>
            <span *ngIf="changePassword.get('confirmPassword').hasError('mismatchedPasswords')">Password mismatch</span>
            </span>
        </div>
      
    </div>
    <div class="card-footer">
            <button [disabled]="changePassword.invalid" class="btn btn-primary px-4">Submit</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />          
     
    </div>
  </form>
  
  </div>
